* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

h1 {
  color: black;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #25274D;
}

section:nth-child(even) {
  background-color: #464866;
}

@media screen and (min-width: 400px) {

section {
  display: flex;
}

@media screen and (min-width: 800px) {
  section {
    display: block;
  }
